@import 'reset.css';
@charset 'UTF-8';
html,body,.box{
	width: 100%;
	height: 100%;
}
body{
	font-size: 0.16rem;
}
.box{
	display: flex;
	flex-direction: column;
}
header{
	width: 100%;
	height: 0.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	ul{
		display: flex;
		height: 0.38rem;
		width: 85%;
		li{
			flex: 1;
			text-align: center;
			line-height: 0.38rem;
			font-size: 0.2rem;
		}
		li.bg{
			color: skyblue;
			border-bottom: 0.02rem solid skyblue;
		}
	}
}
main{
	flex: 1;
}
.main{
	width: 100%;
	height: 1.6rem;
	position: relative;
	img{
		width: 100%;
		height: 100%;
	}
	.cover{
		position: absolute;
		left: 0;
		top: 0;
		background: rgba(0,0,0,.4);
		width: 100%;
		height: 100%;
	}
}