<div class="banner-container swiper-container">
    <div class="swiper-wrapper">
        <div class="banner-slide swiper-slide">
            <img src="Content/images/3.jpg" alt="" style="width:100%;height:128px">
        </div>
        <div class="banner-slide swiper-slide">
            <img src="Content/images/2.jpg" alt="" style="width:100%;height:128px">
        </div>
        <div class="banner-slide swiper-slide">
            <img src="Content/images/3.jpg" alt="" style="width:100%;height:128px">
        </div>
        <div class="banner-slide swiper-slide">
            <img src="Content/images/4.jpg" alt="" style="width:100%;height:128px">
        </div>
    </div>
    <!--需要焦点按钮时可加上以下代码-->
    <div class="banner-pagination pagination"></div>
</div>
<ul class="nav2 text-center pt15">
    <li class="col-xs-3">
        <i class="fa fa-share text-white bg-blue f20"></i>
        <p class="mt15">车商城</p>
    </li>
    <li class="col-xs-3">
        <i class="fa fa-ge text-white bg-maroon f20"></i>
        <p class="mt15">分期购车</p>
    </li>
    <li class="col-xs-3">
        <i class="fa fa-reddit text-white bg-green f20"></i>
        <p class="mt15">团购活动</p>
    </li>
    <li class="col-xs-3">
        <i class="fa fa-fa text-white bg-aqua f20"></i>
        <p class="mt15">找二手车</p>
    </li>
</ul>
<div class="lang">
    <div class="bao">
        <img src="Content/images/1_03.jpg" alt="">
    </div>
</div>
<div class="honer">
    <p class="mb10 pt10 ml5 f16">车主服务</p>
    <ul class="nav3 text-center">
        <li class="col-xs-3 pt10">
            <i class="fa fa-gg f26 text-red"></i>
            <p class="mt10 mb10">油卡充值</p>
        </li>
        <li class="col-xs-3 pt10">
            <i class="fa fa-bell f26 text-highlight-blue"></i>
            <p class="mt10 mb10">低价保险</p>
        </li>
        <li class="col-xs-3 pt10">
            <i class="fa fa-car f26"></i>
            <p class="mt10 mb10">4S店</p>
        </li>
        <li class="col-xs-3 pt10">
            <i class="fa fa-chain f26 text-highlight-blue"></i>
            <p class="mt10 mb10">品质保胎</p>
        </li>
        <li class="col-xs-3 pt10">
            <i class="fa fa-cube f26 text-red"></i>
            <p class="mt10 mb10">车品商城</p>
        </li>
        <li class="col-xs-3 pt10">
            <i class="fa fa-cog f26 text-highlight-blue"></i>
            <p class="mt10 mb10">洗车</p>
        </li>
        <li class="col-xs-3 pt10">
            <i class="fa fa-building f26 text-red"></i>
            <p class="mt10 mb10">违章代缴</p>
        </li>
        <li class="col-xs-3 pt10">
            <i class="fa fa-book f26 text-red"></i>
            <p class="mt10 mb10">免费测评</p>
        </li>
        <li class="col-xs-3 pt10" style="border-bottom: none">
            <i class="fa fa-bold f26 text-highlight-blue"></i>
            <p class="mt10 mb10">查周边</p>
        </li>
        <li class="col-xs-3 pt10" style="border-bottom: none">
            <i class="fa fa-bolt f26 text-highlight-blue"></i>
            <p class="mt10 mb10">车主卡</p>
        </li>
        <li class="col-xs-3 pt10" style="border-bottom: none">
            <i class="fa fa-bomb f26 text-highlight-blue"></i>
            <p class="mt10 mb10">领券保养</p>
        </li>
        <li class="col-xs-3 pt10" style="border-bottom: none">
            <i class="fa fa-adjust f26"></i>
            <p class="mt10 mb10">全部</p>
        </li>
    </ul>
</div>
<div class="time mt10">
    <div class="head">
        <p class="pb10 pt10 ml5 f16">限时抢购</p>
        <div class="times mr15 text-center f16">
            <span class="text-white">13</span> :<span class="text-white">13</span> :<span class="text-white">13</span>
        </div>
    </div>
    <div id="buy">
        <ul>
            <li class="col-xs-5">
                <img src="Content/images/bu_03.jpg" alt="">
                <p class="mt5">补胎工具简易套装</p>
                <p class="price">￥9.9元<span>28元</span></p>
            </li>
            <li class="col-xs-5">
                <img src="Content/images/bu_03.jpg" alt="">
                <p class="mt5">车用椅背挂钩</p>
                <p class="price">￥9.9元<span>28元</span></p>
            </li>
            <li class="col-xs-5">
                <img src="Content/images/bu_03.jpg" alt="">
                <p class="mt5">车用椅背挂钩</p>
                <p class="price">￥9.9元<span>28元</span></p>
            </li>
            <li class="col-xs-5">
                <img src="Content/images/bu_03.jpg" alt="">
                <p class="mt5">车用椅背挂钩</p>
                <p class="price">￥9.9元<span>28元</span></p>
            </li>
            <li class="col-xs-5">
                <img src="Content/images/bu_03.jpg" alt="">
                <p class="mt5">车用椅背挂钩</p>
                <p class="price">￥9.9元<span>28元</span></p>
            </li>
            <li class="col-xs-5">
                <img src="Content/images/bu_03.jpg" alt="">
                <p class="mt5">车用椅背挂钩</p>
                <p class="price">￥9.9元<span>28元</span></p>
            </li>
        </ul>
    </div>
</div>
<div class="area mt10">
    <div class="head">
        <p class="pb10 pt10 ml5 f16">限时抢购</p>
        <div class="more mr15 text-center f16">
            <p>更多活动</p>
            <i class="fa fa-angle-right ml10 f20"></i>
        </div>
    </div>
    <div class="all">
        <div class="big col-xs-4">
            <h5>测身价炫富</h5>
            <p style="color:#fdaa80" class="f14">身价大PK</p>
            <div class="img">
                <img src="Content/images/5.jpg" alt="">
            </div>
        </div>
        <div class="big col-xs-4">
            <h5>测身价炫富</h5>
            <p style="color:#fdaa80" class="f14">身价大PK</p>
            <div class="img">
                <img src="Content/images/5.jpg" alt="">
            </div>
        </div>
        <div class="big col-xs-4">
            <h5>测身价炫富</h5>
            <p style="color:#fdaa80" class="f14">身价大PK</p>
            <div class="img">
                <img src="Content/images/5.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="like mt10">
    <div class="head">
        <p class="pb10 pt10 ml5 f16">猜你喜欢</p>
        <div class="more mr15 text-center f16">
            <p>更多</p>
            <i class="fa fa-angle-right ml10 f20"></i>
        </div>
    </div>
    <ol class="car clearfix">
        <li class="col-xs-6" ng-repeat="item in good">
            <div class="carImg">
                <img ng-src="{{item.url}}" alt="">
            </div>
            <h5 class="f14"></h5>
            <p></p>
            <p class="price mt10"><span></span></p>
        </li>
    </ol>
</div>
<!--{{res.data}}-->