<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
	<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta name="format-detection" content="telphone=no, email=no" >
	<link rel="stylesheet" href="css/style.css">
	<script>
		document.documentElement.style.fontSize=window.innerWidth/375*50+'px';
	</script>
	<title>Document</title>
</head>
<body ng-controller="main">
	<div class="box">
		<header>
			<h1>
				<a href="#"><strong></strong>返回</a>
				<b>多宝娱</b>
				<b></b>
			</h1>
		</header>
		<main>
			<div class="top">
				<h5>我的一元夺宝</h5>
				<div class="lis">
					<ul>
						<li><a href="#!/all" ng-class="path=='/all'?'bg':''">进行中</a></li>
						<li><a href="#!/out" ng-class="path=='/out'?'bg':''">已揭晓</a></li>
						<li><a href="#!/in" ng-class="path=='/in'?'bg':''">已中奖</a></li>
					</ul>
				</div>
			</div>
			<div class="down">
				<!-- <div class="add">
					<dl>
						<dt><img src="2.gif" alt=""></dt>
						<dd class="cb">支持份数:100人次</dd>
						<dd>支持时间:2016-01-01 12:12:12</dd>
						<dd class="cr">中奖者:131****1234</dd>
						<dd class="cr">中奖号码:123456789</dd>
					</dl>
					<h6>
						<button>再次购买</button>
					</h6>
				</div> -->
				<!-- <div class="add">
					<dl ng-repeat="item in data">
						<dt><img src="{{item.src}}" alt=""/></dt>
						<dd class="cb">支持份数:{{item.num}}</dd>
						<dd>支持时间:{{item.time}}</dd>
						<dd class="cr">中奖者:{{item.tel}}</dd>
						<dd class="cr">中奖号码:{{item.sum}}</dd>
					</dl>
					<h6>
						<button>再次购买</button>
					</h6>
				</div> -->
				<ng-view></ng-view>
			</div>
		</main>
	</div>
</body>
<script src="angular.min.js"></script>
<script src="angular.js"></script>
<script src="angular-route.js"></script>
</html>
<script>
	angular.module('app',['ngRoute'])
			.config(['$routeProvider',function($routeProvider){
				$routeProvider.when('/all',{
					template:`
						<div class="add">
						<dl ng-repeat="item in data">
							<dt><img src="{{item.src}}" alt=""/></dt>
							<dd class="cb">支持份数:{{item.num}}</dd>
							<dd>支持时间:{{item.time}}</dd>
							<dd class="cr">中奖者:{{item.tel}}</dd>
							<dd class="cr">中奖号码:{{item.sum}}</dd>
						</dl>
						<h6>
							<button>再次购买1</button>
						</h6>
					</div>
					`,
					controller:['$scope',function($scope){

					}]
				}).when('/out',{
					template:`
						<div class="add">
						<dl ng-repeat="item in data">
							<dt><img src="{{item.src}}" alt=""/></dt>
							<dd class="cb">支持份数:{{item.num}}</dd>
							<dd>支持时间:{{item.time}}</dd>
							<dd class="cr">中奖者:{{item.tel}}</dd>
							<dd class="cr">中奖号码:{{item.sum}}</dd>
						</dl>
						<h6>
							<button>再次购买2</button>
						</h6>
					</div>
					`,
					controller:['$scope',function($scope){
						
					}]
				}).when('/in',{
					template:`
						<div class="add">
						<dl ng-repeat="item in data">
							<dt><img src="{{item.src}}" alt=""/></dt>
							<dd class="cb">支持份数:{{item.num}}</dd>
							<dd>支持时间:{{item.time}}</dd>
							<dd class="cr">中奖者:{{item.tel}}</dd>
							<dd class="cr">中奖号码:{{item.sum}}</dd>
						</dl>
						<h6>
							<button>再次购买3</button>
						</h6>
					</div>
					`,
					controller:['$scope',function($scope){
						
					}]
				}).otherwise('/in')
			}])
			.controller('main',['$scope','$http',function($scope,$http){
				$http({
					url:'http://localhost:8899/post',
					method:'POST'
				}).then(function(result){
					$scope.data=result.data;
					console.log(result.data);
				},function(error){
					console.log(error);
				})
			}])
			.run(['$rootScope',function($rootScope){
				$rootScope.$on('$routeChangeSuccess',function(event,currentRoute,previousRoute){
					$rootScope.path=currentRoute.$$route.originalPath;
				})
			}])
</script>