<div>
	<style>
		.top{
			width: 100%;
			line-height: 50px;
			display: flex;
			text-align: center;
		}
		.button{
			flex: 1;
			text-align: center;
			line-height: 50px;
		}
		.content{
			width: 100%;
		}
		.active{
			background: red;
		}
		.normal{
			background: green;
		}
	</style>
	<div class="top">
		<div class="button" ng-repeat="item in data" ng-click="fn(item.value)" ng-class="value==item.value?'active' : 'normal'">
			{{item.name}}
		</div>
	</div>
	<div class="content" ng-init="value=data[0].value">
		<div ng-repeat="val in value" style="text-align: center;">
			{{val}}
		</div>
	</div>
</div>