<div>
    <style>
        .discoverMusic-nav{
            display: flex;
            height: .8rem;
        }
        .discoverMusic-nav div{
            flex: 1;
            line-height: .76rem;
            text-align: center;
        }
        .nav-item-active{
            border-bottom:.04rem solid #cd3b3c;
            color: #cd3b3c
        }
    </style>

        <div class="discoverMusic-nav">
            <div>个性推荐</div>
            <div>歌单</div>
            <div>主播电台</div>
            <div>排行榜</div>
        </div>
        <ui-view></ui-view>

</div>