@import "reset.css";
@charset 'UTF-8';
html,body,.box{
	width: 100%;
	height: 100%;
}
.box{
	display: flex;
	flex-direction: column;
}
header{
	width: 100%;
	height: 0.45rem;
	line-height: 0.45rem;
	border-top: 0.02rem solid green;
	border-bottom: 0.02rem solid #ddd;
	display: flex;
	justify-content: space-between;
	i.iconfont{
		font-size: 0.2rem;
		padding: 0 0.27rem;
	}
	b{
		font-size: 0.14rem;
	}
}
main{
	flex: 1;
	overflow-y: auto;
	.top{
		width: 100%;
		height: 0.45rem;
		margin-top: 0.3rem;
		ul{
			width: 100%;
			height: 0.43rem;
			display: flex;
			border-bottom: 1px solid #ddd;
			li{
				flex: 1;
				text-align: center;
				line-height: 0.43rem;
				color: green;
				font-size: 0.14rem;
			}
			li.hv{
				color: black;
				border: 0.01rem solid #ddd;
				border-bottom: none;
			}
		}
	}
	.bottom{
		height:auto;
		dl{
			width: 100%;
			height: 0.7rem;
			border-bottom: 0.01rem solid #ddd;
			display: flex;
			align-items: center;
			dt{
				width: 0.5rem;
				height: 0.5rem;
				line-height: 0.5rem;
				font-size: 0.14rem;
				color: white;
				margin: 0 0.2rem;
				background: red;
				text-align: center;
			}
			dd{
				p{
					font-size: 0.14rem;
					line-height:0.2rem;
					color: #ccc;
				}
				h6{
					font-size: 0.16rem;
					line-height:0.2rem;
					color: #000;
				}
				
			}
		}
		
		dl.bg dt i{
			color: green;
		}
		dl.bg dd{
			color: green;
		}
	}
}


footer{
	width: 100%;
	height: 0.5rem;
	border-bottom: 0.01rem solid #ddd;
	.footer{
		height: 0.5rem;
		display: flex;
		dl{
			flex: 1;
			dt{
				text-align: center;
				line-height: 0.3rem;
				i.iconfont{
					font-size: 0.2rem;
					text-align: center;
				}	
			}
			dd{
				text-align: center;
				font-size: 0.12rem;
				line-height:0.1rem;
			}
		}
		
		dl.bg dt i{
			color: green;
		}
		dl.bg dd{
			color: green;
		}
	}
}