<div>
    <style>
        .top{
            width:100%;
            line-height: 50px;
            display: flex;
            text-align: center
        }
        .button{
            flex:1;
            text-align: center;
            line-height: 50px;
        }
        .content{
            width: 100%;
        }
        .active{
            background: skyblue;
        }
        .normal{
            background: limegreen;
        }
    </style>
    <div class="top">
        <div ng-repeat="item in data" ng-class=" value == item.value ? 'active' : 'normal' " ng-click="fn(item.value)" class="button">
            {{item.name}}
        </div>
    </div>
    <div class="content">
           <div ng-repeat="val in value" style="text-align:center">
               {{val}}
           </div>  
    </div>       
</div>