*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
.top{
    margin: 30px 20px;
}
.top ul {
    display: flex;
}
.top ul li{
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}